<button (click)="openFile()">Open</button>
<button (click)="saveFile()">Save</button><br />
<ng-container *ngIf="party.m_EntityData != null">
  All stats before modifiers such as racial, size and equipment<BR />
  Money: <input type="number" [(ngModel)]="player.Money">

  <ngb-tabset>
    <ngb-tab title="Party">
      <ng-template ngbTabContent>
        <party-accordion [party]="party" [parent]="this"></party-accordion>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Inventory">
      <ng-template ngbTabContent>
        <ul>
          <li *ngFor="let item of getItems()">
            {{ item.name }} - {{ item.count }}
          </li>
        </ul>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Kingdom">
      <ng-template ngbTabContent>
        Build Pionts <input type="number" [(ngModel)]="player.Kingdom.BP">
      </ng-template>
    </ngb-tab>
  </ngb-tabset>



</ng-container>